<section id="servicosSection" class="box">
    <div class="cabeçalho">Serviços</div>
    <div id="servicos">

    </div>
    
        <p> 
            Universidade Estadual de santa Cruz -UESC - Desenvolvendo Potenciais, Construindo Futuros. 

            A Universidade UESC é uma instituição de ensino superior comprometida com a excelência acadêmica, a inovação e o desenvolvimento integral dos seus estudantes. Fundada em 1991, a universidade tem se destacado como um centro de referência em diversas áreas do conhecimento.
        </p>
</section>
