/* ul {
    list-style-type: none;
    padding: 0;
  }
  
li {
  background-color: yellow;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 15%;
}
li:hover {
  background-color: #ddd;
} */
.propriedade  {
  display: flex;
  width: 100%;
  background-color: yellow;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  justify-content: center;
}
.container  {
  display: flex;
  flex-direction: column;
  width: 100%;
} 