<section id ="noticiasSection" class="box">
        <div class="cabeçalho">Noticias</div>
        <div id="noticias" class="div">
            <ul>
                <li>Uesc completa 32 anos de estadualização</li>
                <a href="https://www2.uesc.br/noticias/924/Uesc-completa-32-anos-de-estadualizacao">Link</a>
                <li>Sobre as Eleições para Reitoria Uesc</li>
                <a href="http://www.uesc.br/eleicao2024/">link 2</a>
                <li>Ameaças à Uesc </li>
                <a href="https://www2.uesc.br/noticias/917/Ameacas-a-Uesc">link3</a>
                <li> Confira o pensamento do dia: Minha esposa está muito brava com o fato de eu não ter senso de direção. Então arrumei minhas coisas e pronto.</li>
            </ul>       
        </div>

</section>  