#divSearch{
    background-color:#e2ece4;
    border:solid 2px red;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  
  #txtSearch{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnSearch{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:102px;
    font-weight:bold;
    background: red;
  }
  